adminPassword: prom-operator
env:
  GF_USERS_VIEWERS_CAN_EDIT: true
  GF_AUTH_ANONYMOUS_ORG_NAME: "Main Org."
persistence:
  type: pvc
  enabled: true
rbac:
  pspEnabled: false
grafana.ini:
  users:
    viewers_can_edit: true
  auth.anonymous:
      enabled: true
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    multicluster:
      global:
        enabled: false
datasources:
 datasources.yaml:
   apiVersion: 1
   datasources:
   - name: Thanos
     type: prometheus
     url: http://thanos-query-frontend.thanos:9090
     access: proxy
     isDefault: true
ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    external-dns.alpha.kubernetes.io/hostname: dash.kube101.dev
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - dash.kube101.dev
  path: /
  pathType: ImplementationSpecific
  tls:
  - secretName: grafana-general-tls
    hosts:
    - dash.kube101.dev